#jumpIndexA-button {
  font-weight: bold;
  cursor: pointer;
  font-size: 13px;
  position: fixed;
  bottom: 0;
  right: 8px;
  padding: 0.0em 0.45em .2em 0.45em;
  z-index: 30;
  background: rgba(65,118,157,0.7);
  color: white;
  border-radius: .7em .7em 0 0;
  border-top: 4px solid white;
  border-left: 4px solid white;
  border-right: 4px solid white;
}

#jumpIndexA-button:focus {
  border-color: yellow;
}

#jumpIndexA li {
  list-style-type: none;
}
#jumpIndexA {
  font-size: 16px;
  text-align: right;
  height: auto;
  width: 27em;
  line-height: 1.3em;
  padding: .65em;
  font-family: sans-serif;
  color: white;
}
#jumpIndexA * {
  margin: 0;
  padding: 0;
  font: inherit;
  text-indent: 0;
}
#jumpIndexA a {
  color: white;
  padding: 2px;
  text-decoration: none !important;
}
#jumpIndexA a:hover {
  color: #D93B00;
}
#jumpIndexA a:focus {
  color: #D93B00;
  background-color: yellow;
}
.jumpIndexA-other {
  border-top: 1px dashed white;
  padding-top: 6px !important;
  margin-top: 6px !important;
}
.jumpIndexA-other a:before {
  content: "\00ab";
}
.jumpIndexA-other a:after {
  content: "\00bb";
}
#jumpIndexA p::first-letter,
#jumpIndexA-other p::first-letter
{
  text-transform: none !important;
}
body {
  line-height: 1.2em;
}
h2 {
  margin-bottom: 10px;
}
h2 + p {
  margin-top: 10px;
}
ul {
  margin-top: 8px;
  margin-bottom: 8px;
}
dt {
  margin-top: 10px;
}
.pattern-def {
  margin-left: 20px;
}
.pattern-def dt {
  font-weight: normal;
}
dfn {
  font-style: inherit;
  font-weight: bold;
  color: brown;
}
h2 dfn {
  color: inherit;
  font-weight: inherit;
}
.html5term {
  color: darkgoldenrod;
  font-weight: bold;
}
#datatypes .example {
  margin-top: 26px;
}
.examples .example:first-of-type {
  margin-top: 0px;
}
.interface,
.display,
.examples
{
  margin-top: 32px;
}
.example p {
  margin-top: 12px;
  margin-bottom: 6px;
}
.example > pre {
  margin-top: 6px;
  margin-right: 15%;
  background-color: #ccc;
  padding: 12px;
  margin-left: 0px;
  border-radius: 6px;
  box-shadow: 4px 4px 4px #888;
}
.example.valid > pre {
  background-color: #c3ffc3;
}
.example.obsoleted > pre,
.example.invalid > pre
{
  background-color: #ffdada;
}
.example.obsoleted > pre:before,
.example.invalid > pre:before
{
  content: "\2716  ";
  color: red;
}
.example.valid > p:first-of-type:before
{
  content: "The following example is valid: ";
}
.example.invalid > p:first-of-type:before
{
  content: "The following example is invalid: ";
}
.example.obsoleted > p:first-of-type:before
{
  content: "The following example is obsolete: ";
}
/* #elements > div > div { */
  /* margin-left: 20px; */
/* } */
/* #elements > div > div > h2 ~ * { */
  /* margin-left: 20px; */
/* } */
.elementpage > div > div,
.elementpage > div > p,
.elementpage > div > pre,
.elementpage > div > dl {
  margin-left: 1em;
  margin-top: 6px;
  margin-bottom: 6px;
}
.longdesc p {
  margin-left: 0 !important;
  margin-top: 16px !important;
}
.content-model-prologue {
  margin-top: 0px;
}
.elem-mdl,
.changes > p:first-child
{
  margin-top: 0px;
}
#form .attr-content-models,
#select .attr-content-models,
#input\.email .attr-content-models,
#object .attr-content-models,
#textarea .attr-content-models,
#button\.submit .attr-content-models,
#input\.image .attr-content-models,
#input\.text .attr-content-models,
#input\.password .attr-content-models,
#input\.submit .attr-content-models
{
  line-height: 200%;
}

#time .attr-content-models
{
  line-height: 300%;
}

#area .attr-content-models
{
  line-height: 200%;
}

#area .attr-content-models .agroupof
{
  display: block;
  margin-right: 75%;
}

#input\.file .attr-content-models,
#input\.button .attr-content-models,
#input\.reset .attr-content-models,
#input\.checkbox .attr-content-models,
#input\.radio .attr-content-models,
#command\.checkbox .attr-content-models,
#command\.radio .attr-content-models,
#button\.button .attr-content-models,
#button\.reset .attr-content-models,
#fieldset .attr-content-models,
#base .attr-content-models
{
  margin-top: 10px;
}

#button\.submit .attr-content-models .agroupof,
#input\.image .attr-content-models .agroupof,
#input\.submit .attr-content-models .agroupof,
#input\.text .attr-content-models .agroupof,
#input\.password .attr-content-models .agroupof
{
  display: block;
  margin-right: 15%;
}

.attr-content-models,
.attr-defs {
  margin-top: 12px;
}
.attr-content-models p {
  margin-top: 4px;
  margin-bottom: 6px;
}
.attr-content-models p:last-of-type,
.attr-content-model
{
  margin-right: 10%;
  padding-bottom: 1em;
  border-bottom: 1px solid #999;
}
dl.attr-defs {
  margin-top: 12px;
}

dl.attr-defs dt {
  margin-top: 12px;
  font-weight: normal;
}
dl.attr-defs dt a.attribute-name {
  font-weight: bold;
}

dl.attr-defs dd {
  margin-top: 8px;
  margin-bottom: 8px;
}

dl.attr-defs dd.note,
dl.attr-defs dd.warning
{
  margin-bottom: 12px;
}


dl.attr-defs dd.note {
  margin-bottom: 12px;
}

dt.content-model {
  font-weight: normal;
  margin-top: 4px;
}
dt.attr-content-model {
  font-weight: normal;
  margin-top: 4px;
}
dd {
  margin-right: 20%;
  margin-left: 20px;
}
.assertions {
  margin-top: 4px;
}
.longdesc {
  margin-top: 4px;
  margin-right: 20%;
}
th {
  background-color: #ddd;
  padding: 6px;
  padding-top: 4px;
  padding-bottom: 4px;
}
td {
  background-color: #eee;
  padding: 6px;
  padding-top: 4px;
  padding-bottom: 4px;
}
.attribute-name,
a.attribute-name,
a .attribute-name {
  font-weight: bold;
  color: green;
}
a .attribute-name {
  font-weight: normal;
  color: green;
}
.attribute {
  color: green;
}

a.attribute {
  color: green !important;
}

.equals-value,
a .equals-value {
  color: rgb(255, 20, 147);
}

a.placeholder {
  text-decoration: none !important;
}

.common-pattern-name {
  /* color: deeppink; */
  color: #D9117D;
}
.common-pattern-name a {
  /* color: deeppink; */
  color: #D9117D;
}
.element-pattern-name a {
  color: #aaa;
}
.element-pattern-name ~ span {
  margin-left: 10px;
}
.attribute-pattern-name {
  color: green;
}
.attribute-pattern-name ~ span {
  margin-left: 10px;
}
.ident-pattern {
  color: gray;
  font-weight: normal;
}
.attr-values {
  font-weight: normal;
  color: brown;
}
#toc > ul > li {
  margin-top: 6px;
  margin-bottom: 6px;
}
.toc > ul > li {
  list-style-type: none;
}
.toc > ul > li > ul > li {
  list-style-type: none;
  margin-top: 0px;
  margin-bottom: 0px;
}
.toc > ul > li > ul > li > ul > li {
  list-style-type: none;
  margin-top: 0px;
  margin-bottom: 0px;
}

.toc > ul > li > ul > li > ul > li > ul > li {
  list-style-type: none;
  margin-top: 0px;
  margin-bottom: 0px;
}
.toc > ul > li > ul > li > ul > li > ul > li > ul > li {
  list-style-type: none;
  margin-top: 0px;
  margin-bottom: 0px;
}
.toc ul {
  margin-bottom: 0.5em;
}
.skip-link {
  font-style: italic;
  font-size: .8em;
  color: gray;
}
.skip-link a {
  color: #999;
}

h2 > a.hash,
h2 > a.toc-bak,
a > a.hash,
a > a.toc-bak,
dt > a.hash,
div > a.hash,
p.elem-mdl > a.hash
{
  display: none;
}

h2:hover > a.hash,
h2:hover > a.toc-bak,
dt:hover > a.hash,
div:hover > a.hash,
p.elem-mdl:hover > a.hash
{
  display: inline;
  text-decoration: none;
  font-weight: normal;
}

span[title] {
  border-bottom: 1px dotted gray;
}
.comment {
  display: block;
}
.obsolete
{
  color: red;
}
.element {
  /* color: orangered; */
  color: #D93B00;
}
h2 .element {
  font-weight: bold;
}
.assertions .element,
.tag-omission .element,
#terminology .element
{
  font-weight: normal;
}
code {
  color: olive;
}
a.element, 
a .element,
code a {
  /* color: orangered !important; */
  color: #D93B00 !important;
  font-weight: normal;
  font-family: sans-serif;
}
.toc .element {
  font-weight: normal;
}
.element-head {
  background-color: rgb(255,255,240);
  border: 1px solid #ddd;
  padding: 2px;
  padding-left: 10px;
  padding-top: 3px;
  padding-bottom: 3px;
  border-radius: 5px;
  box-shadow: 4px 4px 4px #888;
}
.element-subhead {
  margin-bottom: 0px;
}
.element-subhead + ul {
  margin-top: 6px;
}
.common-subhead {
  margin-bottom: 0px;
}
.common-subhead {
  margin-bottom: 0px;
}
.css-props {
  margin-right: 15%;
  margin-bottom: 0px;
  margin-top: 8px;
  padding-top: 12px;
  padding-bottom: 1px;
  padding-left: 12px;
  background-color: #eee;
  border-radius: 8px;
  box-shadow: 4px 4px 4px #888;
}
#input .css-props {
  margin-right: 0%;
}
.properties {
  margin-bottom: 12px;
}
.css-property {
  margin-left: 15px;
  margin-bottom: 0px;
}
.selector {
  /* color: orangered; */
  color: #D93B00;
  font-weight: bold;
}
.prop-name {
  color: rgb(0, 90, 156);
}
.prop-value {
  color: purple;
}
#abstract > h2, #status > h2, .toc > h2 {
  font-size: 25px;
}
#this_sections > div[class="section"] > h2 {
  font-size: 25px;
}
h1 {
  margin-bottom: 4px
}
#subtitle {
  margin-top: 0px;
  font-style: italic !important;
}
/* h2 at h3 level */
#this_sections > div[class="section"] > div[class="section"] > h2 {
  font-size: 22px;
}
/* h2 at h4 level */
#this_sections > div[class="section"] > div[class="section"] > div[class="section"] > h2 {
  font-size: 19px;
}
/* h2 at h6 level */
#this_sections > div[class="section"] > div[class="section"] > div[class="section"] > div[class="section"] > h2 {
  font-size: 1em;
  font-weight: bold;
}
/* h2 at h7 level */
#this_sections > div[class="section"] > div[class="section"] > div[class="section"] > div[class="section"] > div[class="section"] > h2 {
  font-size: 1em;
  font-weight: bold;
  font-style: italic;
}
.non-norm {
  font-style: italic;
}
h2.element-subhead + p,
h2.element-subhead + div {
  margin-top: 4px;
}
.ednote {
  background: #eee;
  border: 2px double #f24;
  margin: 20px;
  padding: 8px;
}
.ednoteHeader {
  font-size: 100%;
  margin-top: 8px;
  font-weight: bold;
  display: block;
  color: #f24;
  border-bottom: 1px solid #ccc;
  padding-top: 0.5em;
}
#schema, #assertions {
  padding: 8px;
  margin-right: 15%;
  background-color: #eee;
  padding: 8px;
  padding-right: 12px;
}
.pattern {
  padding-left: 2px;
}
.patternname {
  color: #999;
}
.patternname > a {
  color: #999;
  text-decoration: none;
  margin: 0px 2px 0px 2px;
  padding: 1px 1px 1px 1px;
}
.patternname > a:hover {
  background-color: #0b5b9d !important;
  color: white;
  border: 1px dotted #000;
  padding: 1px 2px 1px 2px;
  margin: 0px;
}
.patternname > a:active {
  background-color: #0b5b9d !important;
  color: white;
  position: relative;
  top: 1px;
  left: 1px;
  padding: 1px 2px 1px 2px;
  margin: 0px;
}
.name {
  color: green;
  font-weight: bold;
}
.note, 
.warning {
  font-style: italic;
  padding: 10px;
  margin-top: 8px;
  background-color: #eee;
  border-radius: 8px;
  box-shadow: 4px 4px 4px #888;
}

.note p, 
.warning p {
  margin-top: 3px;
  margin-bottom: 3px;
}

#datatypes .note, 
#dataypes .warning {
  margin-right: 15%;
}

p.note:before,
dd.note:before,
div.note > p:first-child:before {
  content: "Note: ";
  font-weight: bold;
}

.warning:before {
  content: "Warning: ";
  font-weight: bold;
}

pre strong {
  background-color: yellow;
}
.license {
  background-color: #ccc;
  padding: 6px;
}
.TK {
  color: #aaa;
}
.vendor-value {
  color: #999;
}
.pseudo {
  font-weight: normal;
  color: brown;
}
.predicate {
  font-weight: normal;
  color: green;
}
dt, span.common-pattern-name, dt .punc {
  font-weight: normal;
}
.regexp {
  background-color: rgb(250,225,225);
  padding: 1px 4px 1px 4px;
}
#datatypes .example pre {
  margin-top: 6px;
}
#datatypes .example {
  margin-top: 12px;
  margin-left: 1em;
}
#datatypes .note {
  margin-left: 1em;
}
#datatypes .section {
  margin-bottom: 24px;
}
#datatypes div.datatype-desc {
  margin-top: 6px;
  margin-left: 1em;
}
#datatypes div.datatype-desc p:first-child {
  margin-top: 0px;
}
.attr-defs div.datatype-desc:before {
  content: "Value: ";
  font-weight: bold;
  color: #777;
}
body.dfnEnabled dfn { cursor: pointer; }
.dfnPanel {
  display: inline;
  position: absolute;
  height: auto;
  width: auto;
  margin: 4px;
  padding: 0.5em 0.75em;
  padding-bottom: 1em;
  font: small sans-serif;
  background: rgba(245, 245, 245,.9);
  color: black;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 4px 4px 4px #888;
}
.dfnPanel * { margin: 0; padding: 0; font: inherit; text-indent: 0; }
.dfnPanel :link, .dfnPanel :visited { color: black; }
.dfnPanel p {
  font-weight: bolder;
  margin-bottom: 6px;
}
.dfnPanel li { list-style-position: inside; }

.dfnPanel p::first-letter,
.jumpIndexA p::first-letter,
.jumpIndexA-other p::first-letter
{
  text-transform: none !important;
}

#references dt, #terminology dt {
  margin-top: 8px;
}
.references-note, .references-note a {
  color: #aaa;
  text-decoration: none;
}

.elem-qualifier {
  color: #999;
  font-style: italic;
}

.lt-rt {
  color: #bbb;
}

.attr-qualifier {
  color: #999;
  font-weight: normal;
}

.section-title-ref {
  font-weight: bold;
  color: rgb(0,90,156)
}
.section {
  clear: both;
  margin-bottom: 30px;
}
.nav {
  padding-bottom: 10px;
}
.chunkpagetitle {
  text-align: center;
}
.chunkpagetitle a {
  color: inherit;
  text-decoration: none;
}
.nav-prev a,
.nav-next a{
  text-decoration: none;
}
.nav-prev {
  float: left;
}
.nav-next {
  float: right;
}

.attr-prose-desc {
  font-style: italic;
}

ol {
  margin-top: 8px;
  margin-bottom: 0px;
}

ol li::marker {
  text-align: right;
}
.details {
  margin-right: 15%;
  background-color: lightgoldenrodyellow;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 8px;
  box-shadow: 4px 4px 4px #888;
}
.status-missing {
  margin-left: 20px;
}
.status-missing dt {
  margin-top: 8px;
}
.postfix {
  text-decoration: none;
}
.postfix.or {
  color: #999;
  font-weight: bold;
}
.postfix.followedby {
  color: #666;
}
.postfix.intermixed {
  color: #777;
}
.postfix.required {
  padding-left: 3px;
  color: goldenrod !important;
  text-shadow: royalblue 2px 2px 3px;
  border-bottom: none;
}
#rnc-symbol-list dt  {
  font-weight: normal;
  /* color: orangered; */
  color: #D93B00;
  margin-top: 6px;
}
#rnc-symbol-list dt span.rnc-symbol {
  font-family: monospace;
  font-size: 1.3em;
  font-weight: bold;
  color: rgb(0, 90, 156);
}
.new-feature,
.changed-feature,
.obsoleted-feature {
  border-bottom: none !important;
  padding-top: 1px;
  padding-left: 4px;
  padding-right: 4px;
  margin-right: 6px;
  font-size: smaller;
  font-weight: bold;
  color: white;
  border-radius: 4px;
  box-shadow: 3px 3px 3px #888;
}
.attr-defs .new-feature,
.attr-defs .changed-feature,
.attr-defs .obsoleted-feature {
  border-bottom: none;
  margin-left: 4px;
  margin-right: 6px;
  vertical-align: top;
  font-size: .80em;
}
.new-feature {
  background-color: orange;
}
.changed-feature {
  background-color: slateblue;
}
.obsoleted-feature {
  background-color: red;
}

h2 .new-feature,
h2 .changed-feature,
h2 .obsoleted-feature {
  padding-top: 1px;
  border-bottom: none;
}

.attr-content-models .optional {
  display: none;
}

.attr-content-models .required {
  color: #888;
}

.main-license p {
  color: #666;
  margin-top: 4px;
  margin-bottom: 4px;
}
.content-models .agroupof {
  padding: 2px;
  padding-top: 11px;
  padding-bottom: 11px;
  padding-left: 6px;
  padding-right: 6px;
  border: 1px solid #ccc;
  background-color: #eee;
  border-radius: 8px;
  box-shadow: 4px 4px 4px #888;
}
.content-models .agroupof .agroupof{
  padding-top: 6px;
  padding-bottom: 6px;
}
.content-models .agroupof .agroupof .agroupof {
  padding: 2px;
  padding-left: 6px;
}

.attr-content-models .agroupof {
  padding: 2px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 6px;
  border: 2px solid #ccc;
  background-color: #eee;
  border-radius: 8px;
  box-shadow: 4px 4px 4px #888;
}

.attr-content-models .agroupof .agroupof{
  padding-top: 3px;
  padding-bottom: 3px;
}

.agroupof + * {
  padding-left: 6px;
}

#time .attr-content-models .agroupof {
  padding-top: 15px;
  padding-bottom: 18px;
}

#time .attr-content-models .agroupof .agroupof {
  padding-top: 9px;
  padding-bottom: 11px;
}

#time .attr-content-models .agroupof .agroupof .agroupof {
  padding-top: 3px;
  padding-bottom: 3px;
}

#command .elem-mdl::first-letter,
#button .elem-mdl::first-letter,
#base .permitted-parents::first-letter,
#body .permitted-parents::first-letter,
#caption .permitted-parents::first-letter,
#col .permitted-parents::first-letter,
#dd .permitted-parents::first-letter,
#dt .permitted-parents::first-letter,
#colgroup .permitted-parents::first-letter,
#figcaption .permitted-parents::first-letter,
#head .permitted-parents::first-letter,
#legend .permitted-parents::first-letter,
#li .permitted-parents::first-letter,
#optgroup .permitted-parents::first-letter,
#option .permitted-parents::first-letter,
#param .permitted-parents::first-letter,
#rp .permitted-parents::first-letter,
#rt .permitted-parents::first-letter,
#source .permitted-parents::first-letter,
#track .permitted-parents::first-letter,
#summary .permitted-parents::first-letter,
#tbody .permitted-parents::first-letter,
#td .permitted-parents::first-letter,
#tfoot .permitted-parents::first-letter,
#thead .permitted-parents::first-letter,
#th .permitted-parents::first-letter,
#tr .permitted-parents::first-letter,
#title .permitted-parents::first-letter
{
  text-transform: none;
}

.elem-mdl::first-letter {
  text-transform: uppercase;
}

.permitted-parents::first-letter {
  text-transform: uppercase;
}

.elem-mdl > *:last-child:after,
.permitted-parents > *:last-child:after {
  content: ".";
  text-decoration: none !important;
}

#input .elem-mdl > *:last-child:after,
#input .elem-mdl > *:last-child:after,
#table .elem-mdl > *:last-child:after,
#dl .elem-mdl > *:last-child:after,
#figure .elem-mdl > *:last-child:after,
#hgroup .elem-mdl > *:last-child:after,
#ruby .elem-mdl > *:last-child:after,
#tr .elem-mdl > *:last-child:after,
#noscript .elem-mdl > *:last-child:after,
#base .permitted-parents > *:last-child:after,
#body .permitted-parents > *:last-child:after,
#caption .permitted-parents > *:last-child:after,
#col .permitted-parents > *:last-child:after,
#colgroup .permitted-parents > *:last-child:after,
#dd .permitted-parents > *:last-child:after,
#dt .permitted-parents > *:last-child:after,
#figcaption .permitted-parents > *:last-child:after,
#head .permitted-parents > *:last-child:after,
#legend .permitted-parents > *:last-child:after,
#li .permitted-parents > *:last-child:after,
#optgroup .permitted-parents > *:last-child:after,
#option .permitted-parents > *:last-child:after,
#param .permitted-parents > *:last-child:after,
#rp .permitted-parents > *:last-child:after,
#rt .permitted-parents > *:last-child:after,
#source .permitted-parents > *:last-child:after,
#track .permitted-parents > *:last-child:after,
#summary .permitted-parents > *:last-child:after,
#tbody .permitted-parents > *:last-child:after,
#td .permitted-parents > *:last-child:after,
#tfoot .permitted-parents > *:last-child:after,
#th .permitted-parents > *:last-child:after,
#thead .permitted-parents > *:last-child:after,
#tr .permitted-parents > *:last-child:after,
#title .permitted-parents > *:last-child:after
{
  content: "";
}

#area-attr-mdl,
#dl-content-model,
#figure-content-model,
#table-content-model,
#hgroup-content-model,
#tr-content-model,
#ruby-content-model,
#noscript-content-model,
#audio-mdls,
#video-mdls
{
  line-height: 200%;
}

#hgroup-mdls .agroupof
{
  display: block;
  margin-right: 20%;
}
#ruby-mdls .agroupof
{
  display: block;
  margin-right: 40%;
}
#table-mdls .agroupof
{
  display: block;
}
#table-mdls .agroupof .agroupof
{
  display: block;
  margin-right: 45%;
}
#table-mdls .agroupof .agroupof .agroupof
{
  display: block;
  margin-right: 0;
}
#ruby-mdls .agroupof .agroupof
{
  display: block;
  margin-right: 0;
}
#textarea .attr-content-models .agroupof
{
  display: block;
  margin-right: 75%;
}
#textarea .attr-content-models .agroupof .agroupof
{
  margin-right: 10%;
}
#table-mdls > .elem-mdl > .agroupof
{
  background-color: inherit;
  display: block;
  padding: 2px;
  padding-left: 6px;
  border: none;
  border-radius: 0;
  box-shadow: none;
}

#label .agroupof {
  background-color: inherit;
  padding: 0px;
  border: none;
  border-radius: 0;
  box-shadow: none;
}

#label .agroupof + * {
  padding-left: 0px;
}

.content-model-prologue {
  margin-bottom: 12px !important;
}

pre.idl {
  margin-left: 0;
  margin-right: 15%;
  background: #EEEEEE;
  color: black;
  padding:  1em;
  border-radius: 8px;
  box-shadow: 4px 4px 4px #888;
}
pre.idl :link, pre.idl :visited {
  color: inherit;
  background: transparent;
}

.dom-interface {
  margin-left: 1em;
}

.spec-link {
  font-size: 80%;
  font-weight: bold;
  text-decoration: none;
  font-family: serif;
  color: #005A9C;
}
.spec-link a {
  text-decoration: none;
  color: #005A9C;
}
.attr-defs .spec-link
{
  padding-right: 4px;
}
.dfnPanel .spec-link,
.dfnPanel .new-feature,
.dfnPanel .changed-feature,
.dfnPanel .obsoleted-feature
{
  display: none;
}
.element-head .spec-link {
  font-size: 65%;
}
#elements-toc .spec-link {
  font-size: 60%;
}
#elements-by-function ul {
  margin: 0;
}
#elements-by-function li {
  list-style-type: none;
}
#elements-by-function div.section h2{
  margin-bottom: 6px;
}
#elements-by-function div.section {
  margin-bottom: 20px;
}
.toc ul {
  display: table;
}
.toc li {
  display: table-row;
}
.toc .toc-section-number {
  width: 1.6em;
  text-align: right;
  display: table-cell;
 }
.toc .toc-section-name {
  display: table-cell;
}
#elements ul,
#elements-toc ul {
  display: block;
}
#elements li,
#elements-toc li {
  display: list-item;
}
#elements .toc > ul > li .toc-section-number,
#elements .toc > ul > li .toc-section-name,
#elements-toc > ul > li .toc-section-number,
#elements-toc > ul > li .toc-section-name {
  display: inline;
}
.defined-elsewhere {
}
body.dfnEnabled dfn { cursor: pointer; }
.dfnPanelnel {
  display: inline;
  position: absolute;
  height: auto;
  width: auto;
  padding: 0.5em 0.75em;
  padding-bottom: 1em;
  font: small sans-serif;
  background: #DDDDDD;
  color: black;
  border: outset 0.2em;
}
.dfnPanel * { margin: 0; padding: 0; font: inherit; text-indent: 0; }
.dfnPanel :link, .dfnPanel :visited { color: black; }
.dfnPanel p { font-weight: bolder; }
.dfnPanel li { list-style-position: inside; }

#references > dl > dt > dfn:before {
  content: "[";
}
#references > dl > dt > dfn:after {
  content: "]";
}
#datatypes div h2::first-letter {
  text-transform: uppercase;
}
#syntax p::first-letter,
#syntax dt::first-letter,
#elements-html-syntax-list li::first-letter,
#attributes-basic-syntax-list li::first-letter
{
  text-transform: uppercase;
}
ul.index-toc {
  display: block;
}
ul.index-toc li {
  display: list-item;
  margin-left: 10px;
}
#index-of-terms ul {
  margin-top: 4px;
  padding-left: 18px;
  line-height: 1.3em;
}
#index-of-terms > h2,
#index-contents > h2 {
  border-bottom: 2px solid #005A9C;
}
.index-term {
  font-size: 18px;
  /* border-bottom: 2px solid #005A9C; */
  margin-bottom: 4px;
  margin-top: 18px;
  margin-right: 50%;
}
.index-entry li {
  list-style-type: none;
}
.index-entry ul {
  margin-bottom: 0px;
}
.index-no-references,
.index-notation,
.index-counter,
.index-counter a {
  color: #999 !important;
}
cite.index {
  color: #005A9C;
}
cite.index-dfn {
  color: brown;
}
.index-no-references {
  list-style-type: none !important;
  margin-top: 6px;
  font-style: italic;
}
/* dl.ed-draft-link { */
  /* outline-offset: 8px; */
  /* outline: solid green; */
  /* width: 30em; */
/* } */
/* dt.ed-draft-link { */
  /* width: 18em; */
  /* padding: 6px; */
  /* background-color: rgb(255, 255, 150); */
/* } */
#dom { border: inset thin; padding: 0.5em 0.5em 0.5em 1em; color: black; min-height: 5em; font-family: monospace; background: white; }
#dom ul { padding: 0 0 0 1em; margin: 0; }
#dom li { padding: 0; margin: 0; list-style: none; position: relative; }
#dom li li { list-style: disc; }
#dom .t1 code { color: purple; font-weight: bold; }
#dom .t2 { font-style: normal; font-family: monospace; }
#dom .t2 .name { color: black; font-weight: bold; }
#dom .t2 .value { color: blue; font-weight: normal; }
#dom .t3 code, #dom .t4 code, #dom .t5 code { color: gray; }
#dom .t7 code, #dom .t8 code { color: green; }
#dom span { font-style: italic; font-family: serif; }
#dom .t10 code { color: teal; }
#dom .misparented, #dom .misparented code { color: red; font-weight: bold; }
#dom .unnamed { color: red; font-style: italic; }
#dom.hidden, .hidden { visibility: hidden; margin: 0.5em 0; padding: 0; height: 0; min-height: 0; }
#dom li li { list-style: none; }
#dom li:first-child::before { position: absolute; top: 0; height: 0.6em; left: -0.75em; width: 0.5em; border-style: none none solid solid; content: ''; border-width: 0.1em; }
#dom li:not(:last-child)::after { position: absolute; top: 0; bottom: -0.6em; left: -0.75em; width: 0.5em; border-style: none none solid solid; content: ''; border-width: 0.1em; }
