dt {
  margin-top: 10px;
}
.pattern-def {
  margin-left: 20px;
}
.pattern-def dt {
  font-weight: normal;
}
dfn {
  font-weight: bold;
  color: brown;
}
.html5term {
  color: purple;
}
.example > pre {
  background-color: #ccc;
  padding: 12px;
  margin-left: 20px;
}
.example > pre.bad {
  background-color: #ccc;
  color: red;
  padding: 12px;
}
#elements > div > div {
  margin-left: 20px;
}
#elements > div > div > h2 ~ * {
  margin-left: 20px;
}

.content-models,
.attr-content-models {
  border: 1px dotted black;
  padding: 6px;
  background-color: #eee;
}

.content-models,
.attr-content-models,
.attr-defs {
  margin-top: 4px;
}
.content-models p,
.attr-content-models p {
  margin-top: 4px;
  margin-bottom: 6px;
}
dl.attr-defs {
  margin-top: 16px;
}

dl.attr-defs dt {
  margin-top: 4px;
  font-weight: normal;
}
dl.attr-defs dt a.attribute-name {
  font-weight: bold;
}

dl.attr-defs dd {
  margin-top: 3px;
  margin-bottom: 9px;
}

dt.content-model {
  font-weight: normal;
  margin-top: 4px;
}
dt.attr-content-model {
  font-weight: normal;
  margin-top: 4px;
}
dd {
  margin-right: 20%;
  margin-left: 20px;
}
.assertions {
  margin-top: 4px;
}
.longdesc {
  margin-top: 4px;
  margin-right: 20%;
}
th {
  background-color: #ddd;
  padding: 6px;
  padding-top: 4px;
  padding-bottom: 4px;
}
td {
  background-color: #eee;
  padding: 6px;
  padding-top: 4px;
  padding-bottom: 4px;
}
.attribute-name,
a.attribute-name,
a .attribute-name {
  font-weight: bold;
  color: green;
}
a .attribute-name {
  font-weight: normal;
  color: green;
}
.attribute {
  color: green;
}

.equals-value,
a .equals-value {
  color: rgb(255, 20, 147);
}

.common-pattern-name {
  color: deeppink;
}
.common-pattern-name a {
  color: deeppink;
}
.element-pattern-name a {
  color: #aaa;
}
.element-pattern-name ~ span {
  margin-left: 10px;
}
.attribute-pattern-name {
  color: green;
}
.attribute-pattern-name ~ span {
  margin-left: 10px;
}
.ident-pattern {
  color: gray;
  font-weight: normal;
}
.attr-values {
  font-weight: normal;
  color: brown;
}
#toc > ul > li {
  margin-top: 6px;
  margin-bottom: 6px;
}
.toc > ul > li {
  list-style-type: none;
}
.toc > ul > li > ul > li {
  list-style-type: none;
  margin-top: 0px;
  margin-bottom: 0px;
}
.toc > ul > li > ul > li > ul > li {
  list-style-type: none;
  margin-top: 0px;
  margin-bottom: 0px;
}

.toc > ul > li > ul > li > ul > li > ul > li {
  list-style-type: none;
  margin-top: 0px;
  margin-bottom: 0px;
}
.toc > ul > li > ul > li > ul > li > ul > li > ul > li {
  list-style-type: none;
  margin-top: 0px;
  margin-bottom: 0px;
}
.toc ul {
  margin-bottom: 0.5em;
}
.skip-link {
  font-style: italic;
  font-size: .8em;
  color: gray;
}
.skip-link a {
  color: #999;
}

h2 > a.hash,
h2 > a.toc-bak,
a > a.hash,
a > a.toc-bak,
dt > a.hash,
div > a.hash,
p.elem-mdl > a.hash
{
  display: none;
}

h2:hover > a.hash,
h2:hover > a.toc-bak,
dt:hover > a.hash,
div:hover > a.hash,
p.elem-mdl:hover > a.hash
{
  display: inline;
  text-decoration: none;
  font-weight: normal;
}

span[title] {
  border-bottom: 1px dotted gray;
}
.comment {
  display: block;
}
.obsolete {
  color: red;
  font-style: italic;
}
.element {
  color: orangered;
  font-weight: bold;
}
code {
  color: olive;
}
a.element, 
a .element,
code a {
  color: orangered !important;
  font-weight: normal;
  font-family: sans-serif;
}
.toc .element {
  font-weight: normal;
}
.element-head {
  border: 1px dotted gray;
  padding: 2px;
  padding-left: 6px;
  padding-top: 3px;
  padding-bottom: 1px;
}
.element-subhead {
  margin-bottom: 0px;
}
.element-subhead + ul {
  margin-top: 6px;
}
.common-subhead {
  margin-bottom: 0px;
}
.common-subhead {
  margin-bottom: 0px;
}
.css-props {
  margin-bottom: 0px;
  margin-top: 8px;
  padding-top: 12px;
  padding-bottom: 1px;
  padding-left: 12px;
  background-color: #eee;
}
#input .css-props {
  margin-right: 0%;
}
.properties {
  margin-bottom: 12px;
}
.css-property {
  margin-left: 15px;
  margin-bottom: 0px;
}
.selector {
  color: orangered;
  font-weight: bold;
}
.prop-name {
  color: rgb(0, 90, 156);
}
.prop-value {
  color: purple;
}
#abstract > h2, #status > h2, .toc > h2 {
  font-size: 25px;
}
#this_sections > div[class="section"] > h2 {
  font-size: 25px;
}
h1 {
  margin-bottom: 4px
}
#subtitle {
  margin-top: 0px;
  font-style: italic !important;
}
/* h2 at h3 level */
#this_sections > div[class="section"] > div[class="section"] > h2 {
  font-size: 22px;
}
/* h2 at h4 level */
#this_sections > div[class="section"] > div[class="section"] > div[class="section"] > h2 {
  font-size: 19px;
}
/* h2 at h6 level */
#this_sections > div[class="section"] > div[class="section"] > div[class="section"] > div[class="section"] > h2 {
  font-size: 1em;
  font-weight: bold;
}
/* h2 at h7 level */
#this_sections > div[class="section"] > div[class="section"] > div[class="section"] > div[class="section"] > div[class="section"] > h2 {
  font-size: 1em;
  font-weight: bold;
  font-style: italic;
}
.non-norm {
  font-style: italic;
}
h2.element-subhead + p {
  margin-top: 4px;
}
.ednote {
  background: #eee;
  border: 2px double #f24;
  margin: 20px;
  padding: 8px;
}
.ednoteHeader {
  font-size: 100%;
  margin-top: 8px;
  font-weight: bold;
  display: block;
  color: #f24;
  border-bottom: 1px solid #ccc;
  padding-top: 0.5em;
}
#schema, #assertions {
  padding: 8px;
  margin-right: 15%;
  background-color: #eee;
  padding: 8px;
  padding-right: 12px;
}
.pattern {
  padding-left: 2px;
}
.patternname {
  color: #999;
}
.patternname > a {
  color: #999;
  text-decoration: none;
  margin: 0px 2px 0px 2px;
  padding: 1px 1px 1px 1px;
}
.patternname > a:hover {
  background-color: #0b5b9d !important;
  color: white;
  border: 1px dotted #000;
  padding: 1px 2px 1px 2px;
  margin: 0px;
}
.patternname > a:active {
  background-color: #0b5b9d !important;
  color: white;
  position: relative;
  top: 1px;
  left: 1px;
  padding: 1px 2px 1px 2px;
  margin: 0px;
}
.name {
  color: green;
  font-weight: bold;
}
.note {
  font-style: italic;
  padding: 10px;
  border: 1px dashed gray;
  margin-right: 15%;
}
.note:before {
  content: "Note: ";
  font-weight: bold;
}
pre strong {
  background-color: yellow;
}
pre.license {
  background-color: #ccc;
  padding: 6px;
}
.TK {
  color: #aaa;
}
.vendor-value {
  color: #999;
}
.pseudo {
  font-weight: normal;
  color: brown;
}
.predicate {
  font-weight: normal;
  color: green;
}
dt, span.common-pattern-name, dt .punc {
  font-weight: normal;
}
.regexp {
  background-color: rgb(250,225,225);
  padding: 1px 4px 1px 4px;
}
#datatypes .example pre {
  margin-top: 6px;
}
#datatypes .example {
  margin-top: 12px;
}
div.datatype-desc {
  margin-left: 20px;
}
body.dfnEnabled dfn { cursor: pointer; }
.dfnPanel {
  display: inline;
  position: absolute;
  height: auto;
  width: auto;
  padding: 0.5em 0.75em;
  padding-bottom: 1em;
  font: small sans-serif;
  background: #DDDDDD;
  color: black;
  border: outset 0.2em;
}
.dfnPanel * { margin: 0; padding: 0; font: inherit; text-indent: 0; }
.dfnPanel :link, .dfnPanel :visited { color: black; }
.dfnPanel p { font-weight: bolder; }
.dfnPanel li { list-style-position: inside; }

#references dt, #terminology dt {
  margin-top: 8px;
}
.references-note, .references-note a {
  color: #aaa;
  text-decoration: none;
}

.elem-qualifier {
  color: #999;
  font-style: italic;
}

.lt-rt {
  color: #bbb;
}

.attr-qualifier {
  color: #bbb;
  font-weight: normal;
}

.section-title-ref {
  font-weight: bold;
  color: rgb(0,90,156)
}
.section {
  clear: both;
  margin-bottom: 40px;
}
.nav {
  padding-bottom: 10px;
}
.chunkpagetitle {
  text-align: center;
}
.chunkpagetitle a {
  color: inherit;
  text-decoration: none;
}
.nav-prev {
  float: left;
}
.nav-next {
  float: right;
}
.attr-prose-desc {
  font-style: italic;
}
ol li::marker {
  text-align: right;
}
.toc-section-number {
  font-family: monospace;
  font-size: 115%;
}
.details {
  margin-top: 6px;
  background-color: lightgoldenrodyellow;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 10px;
  padding-right: 10px;
}
.status-missing {
  margin-left: 20px;
}
.status-missing dt {
  margin-top: 8px;
}
a.rnc-symbol {
  text-decoration: none;
  color: #777;
  font-weight: bold;
}
#rnc-symbol-list dt  {
  font-weight: normal;
  color: orangered;
  margin-top: 6px;
}
#rnc-symbol-list dt span.rnc-symbol {
  font-family: monospace;
  font-size: 1.3em;
  font-weight: bold;
  color: rgb(0, 90, 156);
}
